/*navbar*/

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
}

.navbar-brand {
  color: rgb(161, 6, 6);
  font-family: "Anton", sans-serif;
  -webkit-text-stroke: 1.2px rgba(0, 0, 0, 0.836);
  font-size: x-large;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  border-style: solid;
  border-color: #000000;
  border-radius: 50px;
  background-color: #1d1b1b;
  border-width: 2px;
}

/*catalogo peliculas*/

h1 {
  padding: 5px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  color: rgb(177, 174, 174);
}

h2 {
  padding: 5px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  color: rgb(177, 174, 174);
  transform: scale(1);
  -webkit-text-stroke: 1.2px rgba(29, 1, 1, 0.836);
  text-shadow: 2px 2px 10px rgba(204, 169, 169, 0.336);
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(212, 48, 48);
}

hr {
  height: 4px; /* Altura del hr */
  background: linear-gradient(
    to right,
    rgba(252, 252, 252, 0),
    #f50404,
    rgba(248, 246, 246, 0)
  ); /* Degradado lineal */
  margin: 10px 0; /* Margen superior e inferior */
  border: none;
}
/*logo header*/
@keyframes pulse {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.header1 {
  max-height: 38rem;
  width: 100%;
  position: relative;
  overflow: hidden; /* oculta cualquier parte de la imagen que se salga de los límites */
}

.header1 img {
  width: 100%;
  height: auto;
  display: block;
  animation: pulse 10s;
  transform-origin: center; /* Establece el punto de origen en el centro de la imagen */
}

.degradado {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px; /* Altura del degradado */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  ); /* Degradado hacia negro */
}

/*box de peliculas*/

.box-container-1 {
  display: flex;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

.box-container-2 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}

.box-container-3 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}

.content img {
  position: relative;
  max-width: 350px; /* Establece el ancho máximo de las imágenes al 100% del contenedor */
  height: 300px;
  cursor: pointer;
  border-radius: 7px;
  padding: 4px;
}

.content:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

h3 {
  transform: scale(1);
  -webkit-text-stroke: 1.2px rgba(29, 1, 1, 0.836);
  text-shadow: 2px 2px 10px rgba(204, 169, 169, 0.336);
}

/*footer*/
footer {
  background-color: rgb(49, 13, 13);
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: rgb(153, 153, 153);
}
.contacto {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

/*-------------------------------------NOVEDADES-----------------------*/
.fondoBodyNovedades {
  background-image: url(././src/assets/img/fondo.jpg);
}

p {
  padding: 5px;
  font-size: x-large;
  color: rgb(189, 181, 181);
}

#listadoPeliculas {
  position: center;
  text-align: center;
}

/*streamer*/

iframe {
  height: 54rem;
  width: 100%;
  border: none;
}

/*-----------------------------------------PeliGrid---------------------*/

.peli-grid {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.item {
  display: flex;
  display: inline-block;
}

/*-------------------OWL slider carusel-------*/
.owl-nav {
  display: none;
}
.owl-dots {
  display: none;
}

/*-------------------Novedades slider carusel-------*/

.carousel-item img {
  max-height: 47rem; /* Altura máxima de la imagen */
  width: 100%; /* Ancho del 100% del contenedor */
  object-fit: contain; /* Ajusta cómo se ajusta la imagen dentro del contenedor */
  display: block; /* Hace que la imagen ocupe todo el ancho disponible */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.carousel-caption h2 {
  font-size: 3rem;
  -webkit-text-stroke: 1.2px rgba(10, 7, 7, 0.836);
  text-shadow: 1px 2px 23px rgba(233, 23, 23, 0.747);
  text-align: center;
}
.carousel-caption p {
  font-size: 1rem;
  margin-top: 5px;
  height: 100px;
  text-align: center;
  white-space: pre-wrap; /* Permite los saltos de línea */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0);
  display: block;
  position: initial;
  margin-bottom: 10px;
}

.carousel-indicators {
  margin: 20px;
  display: block;
}
